<% section_no = params["id"] %>
<% section = Section.read(section_no) %>

<% professor = Professor.find_by("id" => section["professor_id"]) %>
<% course = Course.find_by("id" => section["course_id"]) %>

<div class="row">

  <div class="col-md-4">
    <%= image_tag(professor["photo_url"]) %>
  </div>

  <div class="col-md-8">
    <h1><%= course["course_name"] %>
      <small>Professor: <%= professor["pfirst_name"] %> <%= professor["plast_name"] %></small>
    </h1>
    <% avg = Rating.where("section_id" => params["id"]).average(:rating).to_i %>
    <h4>Avg Rating:
      <% avg.times do %>
        &star;
      <% end %>
    </h4>

  <h2>Add a Review!</h2>

    <% if Rating.where("section_id" => params["id"]).count == 0 %>
      <p>Be the first to add a review!</p>
    <% end %>

    <%= form_tag "/ratings" do %>

      <%= hidden_field_tag "section_id", section["id"] %>

      <div class="form-group">
        <%= label_tag :rating %>
        <%= select_tag :rating, options_for_select(['5 stars','4 stars','3 stars','2 stars','1 star']) %>
        <%= text_area_tag :feedback, "", "class" => "form-control", "placeholder" => "Say something profound!", "rows" => 4 %>
      </div>

      <%= submit_tag "Add Review", "class" => "btn btn-md btn-primary" %>
    <% end %>

    <p><h3>Student Ratings:</h3></p>
    <% Rating.where("section_id" => params["id"]).each do |rating| %>
      <% the_user = User.find_by("id" => rating["user_id"]) %>
      <div class="rating row">
        <div class="col-md-3">
          <p class="lead"><%= rating.rating %> stars out of 5</p>
          <% if the_user.present? %>
            <p>by <%= the_user["username"] %></p>
          <% end %>
        </div>
        <div class="col-md-9">
          <p class="lead"> <%= rating.feedback %></p>
        </div>
      </div>
    <% end %>

  </div>
</div>

